body{
    background-color: #726962;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;    

}
h3{
    color: #9cc1fc;
}
h1{
    color: #9cc1fc;

}

#aboutme{
    color: rgba(255, 255, 0, 0.603);
}