h1{
    text-align: center;
    font-family:"Tahoma", "Verdana","sans-serif";
    
}
body{
    background-image: "images/background.png";

}
.banner{
    text-align: center;
}
.main{
 text-align: center;
    margin: auto;
  width: 100%;
  border: 3px solid green;
  border-radius: 4px;
  padding: 10px;
    
}
.left{
    text-align: left;
    width: 800px;
}
